/*.navbar-personalised {
    display: inline-block;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Poiret One, sans-serif;
    background-color: rgba(0,0,0,0.4);
    font-size: x-large;
}

.home-side {
    position: absolute;
    bottom: 0;
}

.navbar-brand-nicer-tours {
    color: white;
    font-size: x-large;
    position: absolute;
    margin-right:16px;
    bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand-nicer-tours-active {
    background-color: rgba(0,47,167,0.75);
}

.menu-side {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
}*/

/* From Stack Overflow  https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color and demo here: https://www.codeply.com/go/4FdZGlPMNV*/
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
  right: 0;
  margin-top: 4px;
  margin-bottom: 6px;
  margin-right: 24px;
  margin-left: 24px;
  background-color: rgba(0,0,0,0.4);
}

span.navbar-toggler-icon {
    margin-bottom: 0;
}
/* end of from Stack Overflow  https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color and demo here: https://www.codeply.com/go/4FdZGlPMNV */

.custom-toggler {
    position: absolute;
    /*right: 8px;*/
    top: -50px;
    /*margin-left:auto;
    margin-right: 8px;*/
}

.navbar-nav {
    text-align:right;
    background-color: rgba(0,0,0,0.4);
}

.navbar-nav .nav-link {
    padding-right: 16px;
}

.nav-link {
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand-nicer-tours:hover,
.nav-item > a:hover {
    color: white;
}

/*from https://bootstrapstudio.io/forums/topic/change-color-of-the-active-state-of-nav-link/ */
.navbar-brand-nicer-tours-active:hover,
.navbar-brand-nicer-tours-active:focus,
.navbar-personalised .navbar-nav > .active > a,
.navbar-personalised .navbar-nav > .active > a:hover,
.navbar-personalised .navbar-nav > .active > a:focus {
color: white;
background-color: rgba(0,47,167,0.75);
}
/*end of from https://bootstrapstudio.io/forums/topic/change-color-of-the-active-state-of-nav-link/ */

.navbar-brand-nicer-tours:hover,
.nav-item > a:hover {
    color: rgba(0,47,167,0.75);
    background-color: rgba(255,255,255,0.5);
}