@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poiret+One&display=swap');

/* ----------------------------------------- General */
h1, h2, h3, h4, h5, h6 {
    font-family: "Poiret One", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
}

hr {
    margin-top: 1rem;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid transparent;
}

.btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

/* ----------------------------------------- Banner image */

.banner-image {
    background: url("../images/panorama-of-nice.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.banner-image-monaco-banner {
    background: url("../images/panorama-of-monaco.jpg");
    background-position: top;;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.banner-image-st-paul-banner {
    background: url("../images/panorama-of-st-paul-de-vence.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.banner-image-text {
    background-color: rgba(0,0,0,0.15);
    padding-top: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: "Poiret One", sans-serif;
    font-size: 36px;
}

.company-name {
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 0px;
    padding-left: 0px;
}

/* When I first tried nested containers for the nav bar and company logo, I knew I wanted each on opposite sides of a full size screen. 
This meant that I could not easily use an "off the shelf" Bootstrap NavBar in a container-fluid div.
Upon testing using the code I had written - 2 divs within the container-fluid, positioned at the bottom of the banner 
image - the company name "rose" as the (collapsed) NavBar expanded. Stack Overflow enabled me to resolve this, and keep the company
name at the bottom of the div. See https://stackoverflow.com/questions/5288336/put-text-at-bottom-of-div */ 

.company-name span {
    position: absolute;
    bottom: 0;
    color: white;
}

.align-bottom {
    padding: 8px;
}

/* ----------------------------------------- Navigation */

.navigation {
    text-align: right;
    color: white;
    padding-right: 0;
}

.navbar {
    display: inline-block;
    padding: 0;
}

.nav-link {
    color: white;
}


#nice, #nice-footer,
#monaco, #monaco-footer,
#st-p, #st-p-footer {
    color: white;
}

.navbar-toggler-icon {
    color:white;
    margin-bottom: 8px;
}

.nav-item {
    padding-right: 15px;
}

.nav-item:active {
    background-color: rgba(0,47,167,0.75);
}

/* ----------------------------------------- Section main page */

.main-content {
    padding-top: 20px;
}

.tour-destinations,
.tour-options,
.tour-reviews {
    padding-top: 0;
    padding-bottom: 15px;
}

#guaranteed-departure,
#flexibility {
    text-align: center;
}

.main-slogan,
.tour-options,
.tour-destinations,
.tour-reviews {
    text-align: center;
}

/*.unequalled-passion,
.unrivalled-quality {
    padding-top: 10px;
}

.unequalled-passion-text,
.unrivalled-quality-text,*/
.guaranteed-departure-text,
.flexibility-text,
.guaranteed-departure-option-expanded,
.flexibility-option-expanded {
    text-align: justify;
}

.guaranteed-departure-option-expanded,
.flexibility-option-expanded {
    border: 1px solid rgba(0,47,167,0.75);
}

.btn-guaranteed-departure,
.btn-guaranteed-departure-modal,
.btn-flexibility,
.btn-flexibility-modal {
    width: 100%;
}

/* ----------------------------------------- Reviews */

.reviews h4 {
    margin-top: 8px;
}

.card {
    border: 0;
}

.card-body-full-size {
    padding: 0;
}

.img-thumbnail {
    border: 0;
    border-radius: 50%;
}

.review-block {
    padding: 15px;
}


.right-review-name,
.right-review-text {
    text-align: right;
}

#first-reviewer-photo,
#third-reviewer-photo {
    float: right;
}

#second-reviewer-photo,
#fourth-reviewer-photo {
    float: left;
}

#first-reviewer-photo,
#second-reviewer-photo {
    width: 150px;
}

#first-review-block {
    padding-left: 0;
}

#second-review-block {
    padding-right: 0;
}

.first-reviewer-photo-carousel,
.third-reviewer-photo-carousel {
    float: right;
    width: 100px;
}

.second-reviewer-photo-carousel,
.fourth-reviewer-photo-carousel {
    float: left;
    width: 100px;
}

/* ----------------------------------------- Section tour pages */

.tour-main-content {
    padding: 20px;
}

.btn-light {
    background-color: rgba(0,47,167,0.75);
    border: 1px solid white;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
    /* width: 48%; */
}

.btn-light:hover {
    background-color: white;
    border: 1px solid rgba(0,47,167,0.75);
    color: rgba(0,47,167,0.75);
}

/* ----------------------------------------- Footer */

.footer-section {
    background-color: rgba(0, 47, 167, 0.75);
    color:white;
    padding-top: 20px;
}

.slogan {
    text-align: center;
    padding-bottom: 10px;
}

.company-location,
.tours-offered {
    font-weight: 100;
}

.company-location a,
.icons a {
    color: white;
}

.email-address {
    padding-bottom: 10px;
}

.footer-navigation {
    list-style-type: none;
    padding-left: 0;
}

.social-media-icons {
    text-align: center;
    font-size: 24px;
    letter-spacing: 5px;
}
.copyright {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-weight: 100;
}

/* ----------------------------------------- Contact Us Modal */

.contact-us-form-name,
.contact-us-form-email,
.contact-us-form-message {
    width: 100%;
    margin-bottom: 15px;
}

/* ----------------------------------------- Book Now Modal */

.book-now-form-name,
.book-now-form-email,
.book-now-form-tel {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 1px;
    margin-right: 1px;
}

.book-now-form-date {
    width: auto;
}

.tour-option p {
    margin-top: 15px;
    margin-bottom: 0;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

/* ----------------------------------------- Screen size */

@media screen and (max-width: 992px) {
    .company-location,
    .tours-offered,
    .social-media-icons {
        text-align: center;
    }

    .company-location,
    .tours-offered {
        padding-bottom: 15px;
    }
}

.tour-slideshow {
    padding-top: 20px;
}

.tour-slideshow .card-body {
    padding: 0;
}
