@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&family=Poiret+One&display=swap');

/* ----------------------------------------- General */
h1, h2, h3, h4, h5, h6 {
    font-family: "Poiret One", sans-serif;
}

p {
    font-family: "Open Sans", sans-serif;
}

a {
    color: rgba(0,47,167,0.75);
}

hr {
    margin-top: 1rem;
    margin-bottom: 8px;
    border: 0;
    border-top: 1px solid transparent;
}

.btn {
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

/* ----------------------------------------- Banner image */

.banner-image {
    background: url("../images/panorama-of-nice.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.banner-image-monaco-banner {
    background: url("../images/panorama-of-monaco.jpg");
    background-position: top;;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.banner-image-st-paul-banner {
    background: url("../images/panorama-of-st-paul-de-vence.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

/* ----------------------------------------- Call to Action */

#call-to-action {
    text-align: center;
    color: white;
    position: absolute;
    right: 0;
    left: 0;
    top: 50px;
}

#call-to-action-text {
    font-family:Poiret One, sans-serif;
    border-radius: 5px;
    animation: blinker 2s linear infinite;
    font-size: large;
    margin: 0 auto;
    max-width: 50%;
    padding: 12px;
    background-color: rgba(0,47,167,0.75);
}

@keyframes blinker {
  50% {
    opacity: 0.5;
  }
}

.btn-discount {
    color: rgba(0,47,167,0.75);
    background-color: rgba(255,255,255,0.75);
    border: 0;
    border-radius: 5px;
}

/* ----------------------------------------- Navigation */

.navbar-personalised {
    display: inline-block;
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: Poiret One, sans-serif;
    background-color: rgba(0,0,0,0.4);
    font-size: x-large;
}

.home-side {
    position: absolute;
    bottom: 0;
}

.navbar-brand-nicer-tours {
    color: white;
    font-size: x-large;
    position: absolute;
    margin-right:16px;
    bottom: 0;
    padding-left: 16px;
    padding-right: 16px;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand-nicer-tours-active {
    background-color: rgba(0,47,167,0.75);
}

.menu-side {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
}

/* From Stack Overflow  https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color and demo here: https://www.codeply.com/go/4FdZGlPMNV*/
.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,255,255);
  right: 0;
  margin-top: 4px;
  margin-bottom: 6px;
  margin-right: 24px;
  margin-left: 24px;
  background-color: rgba(0,0,0,0.4);
}

span.navbar-toggler-icon {
    margin-bottom: 0;
}
/* end of from Stack Overflow  https://stackoverflow.com/questions/42586729/bootstrap-4-change-hamburger-toggler-color and demo here: https://www.codeply.com/go/4FdZGlPMNV */

.custom-toggler {
    position: absolute;
    /*right: 8px;*/
    top: -50px;
    /*margin-left:auto;
    margin-right: 8px;*/
}

.navbar-nav {
    text-align:right;
    background-color: rgba(0,0,0,0.4);
}

.navbar-nav .nav-link {
    padding-right: 16px;
}

.nav-link {
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-brand-nicer-tours:hover,
.nav-item > a:hover {
    color: white;
}

/*from https://bootstrapstudio.io/forums/topic/change-color-of-the-active-state-of-nav-link/ */
.navbar-brand-nicer-tours-active:hover,
.navbar-brand-nicer-tours-active:focus,
.navbar-personalised .navbar-nav > .active > a,
.navbar-personalised .navbar-nav > .active > a:hover,
.navbar-personalised .navbar-nav > .active > a:focus {
color: white;
background-color: rgba(0,47,167,0.75);
}
/*end of from https://bootstrapstudio.io/forums/topic/change-color-of-the-active-state-of-nav-link/ */

.navbar-brand-nicer-tours:hover,
.nav-item > a:hover {
    color: rgba(0,47,167,0.75);
    background-color: rgba(255,255,255,0.5);
}

/* ----------------------------------------- Section main page */

/* Carousel from Bootstrap */
.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.main-content {
    padding: 20px;
}

.tour-destinations,
.tour-options,
.tour-reviews {
    padding-top: 0;
    padding-bottom: 15px;
}

#guaranteed-departure,
#flexibility {
    text-align: center;
}

.main-slogan,
.tour-options,
.tour-destinations,
.tour-reviews {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
}

.guaranteed-departure-text,
.flexibility-text,
.guaranteed-departure-option-expanded,
.flexibility-option-expanded {
    text-align: justify;
}

#how-guaranteed-departure-works,
#how-flexibility-works {
    margin: 0 15px;
}

.btn-guaranteed-departure,
.btn-guaranteed-departure-modal,
.btn-flexibility,
.btn-flexibility-modal {
    width: 100%;
}

/* ----------------------------------------- Reviews */

.reviews h4 {
    margin-top: 8px;
}

.carousel-inner-reviews-mobile {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.card {
    border: 0;
}

.card-body {
    padding: 20px 0 0;
}

.img-thumbnail {
    border: 0;
    border-radius: 50%;
}

.review-block {
    padding: 15px;
}

.left-review-name,
.left-review-text {
    text-align: left;
}


.right-review-name,
.right-review-text {
    text-align: right;
}

#first-reviewer-photo,
#third-reviewer-photo {
    float: right;
}

#second-reviewer-photo,
#fourth-reviewer-photo {
    float: left;
}

#first-reviewer-photo,
#second-reviewer-photo {
    width: 150px;
}

.first-reviewer-photo-carousel,
.third-reviewer-photo-carousel {
    float: right;
    width: 100px;
}

.second-reviewer-photo-carousel,
.fourth-reviewer-photo-carousel {
    float: left;
    width: 100px;
}

/* ----------------------------------------- Section tour pages */

.tour-main-content {
    padding: 20px;
}

.btn-light {
    background-color: rgba(0,47,167,0.75);
    border: 1px solid white;
    color: white;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-light:hover {
    background-color: white;
    border: 1px solid rgba(0,47,167,0.75);
    color: rgba(0,47,167,0.75);
}

/* ----------------------------------------- Footer */

.footer-section {
    background-color: rgba(0, 47, 167, 0.75);
    color:white;
    padding-top: 20px;
}

.slogan {
    text-align: center;
    padding-bottom: 10px;
}

.company-location,
.tours-offered {
    font-weight: 100;
}

.company-location a,
.icons a {
    color: white;
}

.email-address {
    padding-bottom: 10px;
}

.footer-navigation {
    list-style-type: none;
    padding-left: 0;
}

.social-media-icons {
    text-align: center;
    font-size: 24px;
    letter-spacing: 5px;
}

.copyright {
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-weight: 100;
}

.footer-nav-item > a {
    color: white;
}

/* ----------------------------------------- Contact Us Modal */

.contact-us-form-name,
.contact-us-form-email,
.contact-us-form-message {
    width: 100%;
    margin-bottom: 15px;
}

/* ----------------------------------------- Book now page */

.book-now-container {
    padding: 20px;
}

.btn-go-to-payment,
.btn-t-and-c-modal,
.btn-back {
    width: 100%;
    margin-top: 0;
}

.btn-t-and-c-modal,
.btn-back {
    margin-bottom: 16px;
}

.booking-form {
    text-align: center;
}

/* ----------------------------------------- Book Now Form */

.book-now-form-name,
.book-now-form-email,
.book-now-form-tel {
    width: 100%;
    margin-bottom: 15px;
    margin-left: 1px;
    margin-right: 1px;
}

.book-now-form-date {
    width: auto;
}

.tour-option p {
    margin-top: 15px;
    margin-bottom: 0;
}

/* ----------------------------------------- Screen size */

@media screen and (max-width: 992px) {
    .company-location,
    .tours-offered,
    .social-media-icons {
        text-align: center;
    }

    .company-location,
    .tours-offered {
        padding-bottom: 15px;
    }

    .align-bottom {
    padding-top: 0;
    padding-right: 8px;
    padding-bottom: 6px;
    padding-left: 8px;
    }
}


